
@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300&display=swap');

*{
    margin:0;
    padding:0;
}


body{
    background-color: white;
}

.main_div{
    height: 100vh;
}

.card{
    border:none;
    border-top:5px solid rgb(176, 106, 252);
    background: #212042;
    color: #57557a;
}

p{
    font-size:20px;
    font-weight: 500;
}

a{
    text-decoration: none;
}

.fa-brands {
    display:flex;
    justify-content: center;
    align-items: center;
    border:none;
    background: #2a284d;
    height:50px;
    width:50px;
    border-radius:50%;
    transition:all 0.2s linear;
}

.fa-brands:hover {
    cursor: pointer;
    background: #aaafff;
}

.fa-twitter{
    color:#56ABEC;
}

.fa-instagram{
    color:#fe4164;
}

.fa-facebook{
    color:#1775F1;
}

.division{
    width:100%;
    text-align: center;
    margin:30px auto 20px;
}

.divison span{
    font-weight:500;
    font-size:25px;
}

.myform{
    padding:0 25px 0 35px;
}

.form-control{
    border:1px solid #57557a;
    border-radius:2px;
    background: #212042;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.form-control:focus{
    border:1px solid #57557a;
    border-radius:5px;
    background: #212042;
    box-shadow: none;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color:#fff;

}




